version: '3.8'
services:
  app:
    image: maxbr1/plan-a-dev
    volumes:
      - ~/.aws:/root/.aws:ro
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - AWS_PROFILE=${AWS_PROFILE:-default}
      - SPRING_PROFILES_ACTIVE=H2,securityAndGateway,kafkaSolver,E2Etest
      - KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/plan-a
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/plan-a/protocol/openid-connect/certs
    ports:
      - "4000:4000"
    working_dir: /Plan-A
    stdin_open: true
    tty: true

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_URL: http://localhost:8080
      KC_HOSTNAME_ADMIN_URL: http://localhost:8080
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/plan-a-compose-realm.json
    ports:
      - "8080:8080"
    volumes:
      - ./realm-config/test:/opt/keycloak/data/import
