version: '3.8'
services:
  # zookeeper:
  #   image: confluentinc/cp-zookeeper:7.5.0
  #   environment:
  #     ZOOKEEPER_CLIENT_PORT: 2181
  #     ZOOKEEPER_TICK_TIME: 2000
  #   ports:
  #     - "2181:2181"

  # kafka:
  #   image: confluentinc/cp-kafka:7.5.0
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     KAFKA_BROKER_ID: 1
  #     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
  #     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
  #     KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
  #     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  #   depends_on:
  #     - zookeeper

  app:
    image: maxbr1/plan-a-dev
    volumes:
      - app_data:/Plan-A/dev/Backend/data
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - AWS_PROFILE=${AWS_PROFILE:-default}
      - SPRING_PROFILES_ACTIVE=H2,securityAndGateway,kafkaSolver
      - KEYCLOAK_ISSUER_URI=${KEYCLOAK_PUBLIC_URL}/realms/plan-a
      - KEYCLOAK_JWK_SET_URI=${KEYCLOAK_INTERNAL_URL}/realms/plan-a/protocol/openid-connect/certs
    ports:
      - "80:4000"
    working_dir: /Plan-A
    depends_on:
      - keycloak
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HOSTNAME_URL: ${KEYCLOAK_PUBLIC_URL}
      KC_HOSTNAME_ADMIN_URL: ${KEYCLOAK_PUBLIC_URL}
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/plan-a-prod-realm.json
    ports:
      - "8080:8080"
    volumes:
      - ./realm-config/prod:/opt/keycloak/data/import:ro
    restart: unless-stopped

volumes:
  app_data:
    driver: local