AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=us-east-1
AWS_PROFILE=default

PUBLIC_URL=https://localhost
KEYCLOAK_ADMIN_PASSWORD=admin

CPU_RESERVATION=0.75
MEMORY_RESERVATION=512MB