.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0px;
}

.checkbox.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.checkbox input {
  margin-right: 8px;
  cursor: pointer;
}

.checkbox input:disabled {
  cursor: not-allowed;
}

.checkbox .label {
  font-size: 14px;
}