.set-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98%;
  margin:4px 0;
  padding: 0px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.set-entry-atom {
  max-width: 180px;
  min-width: 85px;
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  margin-left: 4px;
  cursor: pointer;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #ff7875;
}